@{
    ViewData["Title"] = "¿Olvidó su Clave?";
}

<h1>@ViewData["Title"]</h1>
<h4>Ingrese su correo electrónico para restablecer su clave.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form action="/enviar-recuperacion" method="post">
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input name="email" id="email" class="form-control" required type="email" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Enviar Enlace de Restablecimiento</button>
        </form>
    </div>
</div>
