@{
    ViewData["Title"] = "Confirmación de Olvido de Clave";
}

<h1>@ViewData["Title"]</h1>

<p>
    📩 Por favor, revisa tu correo electrónico para restablecer tu clave.<br />
    Si no lo encuentras en tu bandeja de entrada principal, verifica la carpeta de <strong>spam</strong> o <strong>correo no deseado</strong>.
</p>

<p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Volver al Inicio de Sesión</a>
</p>
