@{
    ViewData["Title"] = "Clave Restablecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu clave ha sido restablecida correctamente. Ya puedes iniciar sesión con tu nueva clave.
</p>
<p>
    <a asp-controller="Account" asp-action="Login">Ir al inicio de sesión</a>
</p>
