@model FODUN.Reservas.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Restablecer Clave";
}

<h1>@ViewData["Title"]</h1>
<h4>Ingrese su nueva clave</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <br />
            <button type="submit" class="btn btn-success">Restablecer Clave</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
